.select {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 300%;
  border: 5px solid #000000;
  background-color: #f339be;
}

.politician{
  background-color: rgb(251, 255, 0);
  border-radius: 10px; /*角丸*/
}

.p{
  font-size: 200%;
  font-weight: bold;
  color: #000000;
}

.button {
  background-color: #4CAF50;
  border: none; /*枠線なし*/
  font-weight: bold;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  font-size: 20px;
  border-radius: 10px; /*角丸*/
}
