.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 100;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    background-color: #de007a;
    border: solid 5px #c40cf2d2;
    border-radius: 10px;
}